.application-dashboard > main .candidate-info {
  border-radius: 1rem;
  background: #fff;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: flex-start;
}
main .candidate-info .user-image {
  margin-right: 1.5rem;
  position: relative;
  cursor: pointer;
}
main .candidate-info .user-image .play-icon {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  display: grid;
  place-content: center;
}
main .candidate-info .user-image img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}
main .candidate-info .main-info {
  flex: 1;
}
.candidate-info .main-info .name-tags {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.candidate-info .main-info .name {
  font-size: 0.875rem;
  font-weight: 600;
}
.candidate-info .main-info .other-info {
  font-size: 0.625rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.candidate-info .main-info .other-info span {
  margin: 0 0.5rem;
}
.candidate-info .main-info .other-info span:first-child {
  margin-left: 0;
}
.candidate-info .main-info .other-info span:last-child {
  margin-right: 0;
}
.candidate-info .main-info .badges {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.candidate-info .main-info .badge {
  padding: 0.12rem 0.62rem;
  color: #6b6b6b;
  font-size: 0.5rem;
  font-weight: 500;
  border-radius: 1rem;
  background: #f3fafc;
  margin-right: 0.5rem;
}
.candidate-info .main-info .tags {
  display: flex;
  align-items: center;
}
.candidate-info .main-info .tags .tag {
  padding: 0.06rem 0.5rem;
  color: #808ea3;
  font-size: 0.625rem;
  font-weight: 400;
  border-radius: 0.625rem;
  background: #f5f8ff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}
.candidate-info .main-info .tag button {
  padding-top: 0.15rem;
}
.candidate-info .main-info .tag svg {
  margin-left: 0.5rem;
}
.candidate-info .main-info .add-btn {
  display: flex;
  align-items: center;
}
.candidate-info .main-info .add-btn span {
  color: #9aa6ac;
  font-size: 0.625rem;
  font-weight: 400;
  margin-left: 0.25rem;
}
.candidate-info .score-date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 11.8125rem;
}
.candidate-info .score-date .overall-score {
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0px 4px 25px 0px rgba(29, 78, 216, 0.05);
  padding: 0.5rem;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.candidate-info .score-date .overall-score h5 {
  color: #0b0b0b;
  font-size: 0.875rem;
  font-weight: 500;
}
.candidate-info .score-date .badge {
  border-radius: 50%;
  background: #f3fafc;
  width: 1.75rem;
  height: 1.75rem;
  display: grid;
  place-content: center;
}
.candidate-info .score-date h6 {
  color: #a8a8a8;
  font-size: 0.625rem;
  font-weight: 275;
  margin-top: 1.75rem;
}
