.application-dashboard .personal-info {
  margin-top: 2rem;
}
.application-dashboard .personal-info .details-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  margin-top: 1rem;
}
.application-dashboard .personal-info .detail {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}
.application-dashboard .personal-info .detail-icon {
  border-radius: 0.5rem;
  border: 0.5px solid #ececec;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.81rem;
}
.application-dashboard .personal-info .detail h5 {
  color: #5f5f5f;
  font-size: 0.875rem;
  font-weight: 400;
}
.application-dashboard .personal-info .detail h5.value {
  color: #0b0b0b;
  font-weight: 500;
  margin-top: 0.5rem;
}
